:root {
  --bg-white: #ffffff;
  --bg-light-green: #f3fbf8;
  --bg-green: #09a66d;
  --bg-light-grey: #c9c9c9;
  --bg-grey: #cccccc;
  --font-black: #222222;
  --font-white: #ffffff;
  --font-grey: #555555;
  --font-dark-black: #000000;
  --font-size-one: 70px;
  --font-size-two: 48px;
  --font-size-three: 30px;
  --font-size-four: 20px;
  --font-size-five: 18px;
  --font-size-six: 14px;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-family-sans: "DM Sans", sans-serif;
  --font-family-ros: "Rosario", sans-serif;
}

@media (max-width: 1024px) {
  :root {
    --font-size-one: 60px;
    --font-size-two: 38px;
    --font-size-three: 20px;
    --font-size-four: 20px;
    --font-size-five: 14px;
    --font-size-six: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-one: 50px;
    --font-size-two: 28px;
    --font-size-three: 20px;
    --font-size-four: 18px;
    --font-size-five: 18px;
    --font-size-six: 14px;
  }
}

@media (max-width: 420px) {
  :root {
    --font-size-one: 40px;
    --font-size-two: 28px;
    --font-size-three: 20px;
    --font-size-four: 18px;
    --font-size-five: 18px;
    --font-size-six: 14px;
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-sans);
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-white);
  padding: 0 100px;
  height: 100px;
}
.header-wrapper-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header-mobile {
  padding: 0 50px;
}
.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.menu-item-link {
  color: var(--font-black);
  font-weight: var(--font-regular);
  font-size: var(--font-size-five);
}
.menu-item-link:hover {
  color: var(--bg-green);
  transition: 0.3s ease;
}

.search-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.search-btn,
.basket-btn,
.burger-menu-btn,
.burger-menu-btn__close {
  background: var(--bg-light-green);
  border-radius: 50px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.registration-btn {
  background: var(--bg-green);
  width: 160px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  font-size: var(--font-size-five);
  color: var(--font-white);

  transition: 0.3s ease;
}
.search-btn:hover,
.basket-btn:hover,
.registration-btn:hover,
.burger-menu-btn:hover,
.burger-menu-btn__close:hover {
  background: var(--bg-green);
}
.search-btn:active,
.basket-btn:active,
.registration-btn:active,
.burger-menu-btn:active,
.burger-menu-btn__close:active {
  background: var(--bg-light-grey);
}
.search-btn img,
.basket-btn img,
.burger-menu-btn img,
.burger-menu-btn__close img {
  width: 18px;
  height: 18px;
}
@media (max-width: 6000px) {
  .header-mobile {
    display: none;
  }
  .way-order__text {
    margin-left: 20px;
  }
  .leaves-bg {
    display: none;
  }
  .img-phone__first {
    display: none;
  }
}
@media (max-width: 1440px) {
  .leaves-bg {
    display: block;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 10%;
    width: 40%;
  }
  .img-phone__first {
    display: block;
    position: absolute;
    left: 15vh;
  }
  .way-order__text {
    margin-left: 80px;
  }
  .footer-logo {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .header-desctop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .mobile-menu__item:not(last-child) {
    margin-right: 30px;
  }
  .footer-logo {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .mobile-menu__item:not(last-child) {
    margin-right: 10px;
  }
  .order_content {
    flex-wrap: wrap;
  }
  .way-order__text {
    margin-left: 0;
    margin-top: 10vh;
  }
}
.burger-menu-container {
  text-align: center;

  top: 0px;
  left: 0%;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;

  transition: 0.3s;
  transition-delay: 0.2s;
  overflow: hidden;
  background-color: var(--bg-light-green);
}
.burger-menu-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.mobile-menu__list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}

.section-content {
  padding: 5% 5%;
}
.section-bg__green {
  background: var(--bg-light-green);
}
.section-bg__white {
  background: var(--bg-white);
}
.section-block__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.wrap-organic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title-organic {
  font-family: var(--font-family-ros);
  font-size: var(--font-size-one);
  font-weight: var(--font-bold);
  color: var(--font-black);
  margin-top: 10%;
  z-index: 10;
  position: relative;
}
.text-title {
  font-family: var(--font-family-ros);
  font-size: var(--font-size-one);
  font-weight: var(--font-bold);
  margin-bottom: 5%;
}
.text-subtitle {
  font-size: var(--font-size-five);
  color: var(--font-grey);
  z-index: 2;
  margin-bottom: 40px;
}

.btn-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn-content__text {
  font-size: var(--font-size-five);
  color: var(--font-black);
  margin-right: 20px;
}
.btn-content__button {
  background-color: var(--bg-green);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn-content__button:hover {
  background-color: var(--font-grey);
}
.btn-content__button:active {
  background-color: var(--bg-green);
}

.organic-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
.organic-image {
  width: 60vw;
}

.organic-stat__item {
  display: flex;
  align-items: center;
  background-color: var(--bg-white);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.item-user {
  background-color: var(--bg-light-green);
  border-radius: 50%;
  padding: 5px;
  margin-right: 5%;
}
.item-user img {
  width: 32px;
  margin-right: 5px;
}
.item-number h3 {
  font-size: var(--font-size-two);
}
.item-number p {
  font-size: var(--font-size-five);
}

.why-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.why-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
}
.why-item__img {
  border-radius: 50%;
  background-color: var(--bg-light-green);
  padding: 5%;
  margin-right: 5%;
}
.why-item__img img {
  width: 40px;
  height: 40px;
}
.why-item__text h3 {
  font-size: var(--font-size-four);
  color: var(--font-black);
  font-weight: var(--font-bold);
}

.why-item__text p {
  color: var(--font-grey);
  font-weight: var(--font-regular);
  font-size: var(--font-size-six);
}
.item-bg {
  background-color: var(--bg-light-green);
}
.why-img {
  background-color: var(--bg-light-green);
  border-radius: 50%;
  padding: 2%;
}
.image-one {
  width: 80%;
}
.explore-img {
  margin-right: 30px;
}
.explore-img img {
  width: 100%;
}

.explore-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}
.explore-btn p {
  color: var(--font-grey);
  font-weight: var(--font-regular);
  font-size: var(--font-size-five);
}
.btn-explore {
  margin-left: 5%;
}

.customer-content {
  width: 50%;
}
.rewiew-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rewiew-content__text {
  display: flex;
  flex-direction: column;
}
.rewiew-content__text img {
  width: 80px;
}
.customer-content span {
  color: var(--font-grey);
  font-weight: var(--font-regular);
  font-size: var(--font-size-three);
  margin-bottom: 20px;
}
.customer-img img {
  width: 80%;
  margin-left: 2%;
}
.rewier-btn {
  display: flex;
  margin-left: 5%;
}
.rewier-btn__left {
  margin-right: 10%;
}

.arrow-left {
  transform: rotate(180deg);
}
.btn-arrow__left {
  margin-right: 5%;
}

.text__hilight {
  display: flex;
  background-color: var(--bg-light-green);
  border-radius: 50px;
  width: 170px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.way-order__img {
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  margin-bottom: 30px;
}
.footer-menu h4 {
  font-size: var(--font-size-four);
  color: var(--font-black);
  margin-bottom: 40px;
}
.footer-menu li{
  margin-bottom: 25px;
  cursor: pointer;
}
.list-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
